{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'inventarioCEI/css/inventarioCEI.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>buscar</title>
</head>
<body>

    <div align="center">

        <button class="unactiveButton">Articulos</button>
        <form action="{% url 'goToEspacios' %}" method="post">
            {% csrf_token %}
            <button class="activeButton">Espacios</button>
        </form>

    </div>

    <form action="{% url 'buscar' %}" align="middle" method="post">
    {% csrf_token %}
    <input type="text" name="elemento" id="elemento" size="150"/>
    <input type="submit" value="Buscar"/>
    </form>

    <div class="flex-container">
    {% for articulo in lista %}
        <div class="card">
            <a href="https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg">
            <img src={{articulo.URLfoto}} style="width:100%;height:104px;">
                <h4><b>{{articulo.nombre}}</b></h4>
                {% if articulo.estado == "disponible" %}
                    <div class="circlegreen"></div>
                {% elif articulo.estado == "prestamo"%}
                    <div class="circlered"></div>
                {% elif articulo.estado == "reparacion"%}
                    <div class="circleblue"></div>
                {% else %} <!--perdido-->
                    <div class="circleblack"></div>
                {% endif %}
            </a>
        </div>
    {% endfor %}
    </div>


</body>
</html>

<!--style="width:104px;height:104px;-->