{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <link rel='stylesheet' href="{% static 'inventarioCEI/fullcalendar/fullcalendar.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'inventarioCEI/css/inventarioCEI.css' %}">
    <script src="{% static 'inventarioCEI/fullcalendar/jquery.min.js' %}"></script>
    <script src="{% static 'inventarioCEI/fullcalendar/moment.min.js' %}"></script>
    <script src="{% static 'inventarioCEI/fullcalendar/fullcalendar.js' %}"></script>
    <!--<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>-->

    <script>
        $(function() {

            // page is now ready, initialize the calendar...

            /*$('#calendar').fullCalendar({
            // put your options and callbacks here
                weekends: false
             })*/
            $('#calendar').fullCalendar({
              header: { center: 'month, agendaWeek' }, // buttons for switching between views

              views: {
                month: { // name of view
                  titleFormat: 'YYYY, MM, DD'
                  // other view-specific options here
                }
              },

              events: {{events|safe}}
            });


        });
    </script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>calendario</title>
</head>
<body>

        <ul class="ul1">
            <li>
                <form action="{% url 'goToArticulos' %}" method="post">
                    {% csrf_token %}
                    <button class="unactiveButton">Articulos</button>
                </form>
            </li>

            <li>
                <button class="activeButton">Espacios</button>
            </li>

        </ul>

        <div id='calendar'></div>



    <!--<table class = "table" align="center">
        <tr>
            <th class= "th">Hora</th>
            <th class= "th">Mon {{Mon}}</th>
            <th class= "th">Tue {{Tue}}</th>
            <th class= "th">Wed {{Wed}}</th>
            <th class= "th">Thu {{Thu}}</th>
            <th class= "th">Fri {{Fri}}</th>
        </tr>
        {% for row in matrix%}

            <tr>

            {% for col in row %}
                {% if col != 0 %}
                    <td class="td">{{col}}</td>
                {% elif col == 0%}
                    <td class="td"></td>
                {% endif %}

            {% endfor %}
            </tr>
        {% endfor %}

    </table>

    <var></var>

   <ul class="ul2">

       <a href="{% url 'anteriorMes'%}">
        <li>
            <div class="triangle-left1"></div>
        </li>
        <li>
            <div class="triangle-left1"></div>
        </li>
         </a>
        <li>
            <div>
               <a href="{% url 'anteriorSemana'%}">
                   <div class="triangle-left"></div>
                </a>
            </div>
        </li>
        <li>
            <div>
               <a href="{% url 'siguienteSemana'%}">
                   <div class="triangle-right"></div>
                </a>
            </div>
        </li>
       <a href="{% url 'siguienteMes'%}">
        <li>
            <div class="triangle-right1"></div>
        </li>
        <li>
            <div class="triangle-right1"></div>
        </li>
         </a>
   </ul>-->


</body>
</html>
