{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'inventarioCEI/css/inventarioCEI.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>calendario</title>
    <!--<style>
        table, th, td {
        border: 1px solid black;
    }
    </style>-->
</head>
<body>

    {% for element in week %}
        <p>{{element}}</p>
    {% endfor %}

    {% for element in month %}
        <h1>{{element}}</h1>
    {% endfor %}

    {% for el in prestamos %}
        <h1>{{el.fh_fin_prestamo}}</h1>
    {% endfor %}

    {% for i in matrix%}
        <p>{{i}}</p>
    {% endfor %}

</body>
</html>

