.card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 15%;
}
.card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
        padding: 2px 16px;
}




.flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 2%;
        margin-right: 2%;
}
.flex-container > div {
        background-color: #f1f1f1;
        width: 200px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
}
.circlered {
        height: 10px;
        width: 10px;
        background-color: red;
        border-radius: 50%;
}

.circlegreen {
        height: 10px;
        width: 10px;
        background-color: green;
        border-radius: 50%;
}

.circleblue {
        height: 10px;
        width: 10px;
        background-color: blue;
        border-radius: 50%;
}

.circleblack {
        height: 10px;
        width: 10px;
        background-color: black;
        border-radius: 50%;
}

.table{
    width:80%;
    align: "center";
    border: 1px solid black;
}

.th{
    border: 1px solid black;
}

.td{
    border: 1px solid black;
}

.activeButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0px;
    cursor: pointer;
}

.unactiveButton {
    background-color: #D3D3D3;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0px;
    cursor: pointer;
}

.triangle-left {
	width: 0;
	height: 0;
    margin: 0px 5px;
	border-top: 5px solid transparent;
	border-right: 10px solid #555;
	border-bottom: 5px solid transparent;
}

.triangle-right {
	width: 0;
	height: 0;
    margin: 0px 5px;
	border-top: 5px solid transparent;
	border-left: 10px solid #555;
	border-bottom: 5px solid transparent;
}

.triangle-left1 {
	width: 0;
	height: 0;
    margin: 0px -2px;
	border-top: 5px solid transparent;
	border-right: 10px solid #555;
	border-bottom: 5px solid transparent;
}

.triangle-right1 {
	width: 0;
	height: 0;
    margin: 0px -2px;
	border-top: 5px solid transparent;
	border-left: 10px solid #555;
	border-bottom: 5px solid transparent;
}
li{
    display: inline-block;
}

.ul1{

    margin-left: 36.5%;
}

.ul2{
    margin-left: 43.3%;
}

.divBA{
    margin-left: 82%;
}

.divBusqAv{
    background-color: #DCDCDC;
    margin-right: 5%;
    margin-left: 5%;
    padding: 2%;
    border-radius: 25px;

}

.divCalendar{

}

div#centerDiv {
        width: 100%;
        text-align: center;
        border: 1px solid red;
    }
    ul.centerUL {
        margin: 2px auto;
        line-height: 1.4;
        padding-left: 0;
    }
    .centerUL li {
        display: inline;
        text-align: center;
    }