.thead-dark th {
    background-color: #79BCB5 !important;
    border-color: #79BCB5 !important;
}
.nav-pills{
    border-radius: 0px !important;
}
.nav-item{
    border-radius: 0px !important;
}
.nav-pills > li > a.active {
    background-color: #B95933 !important;
    color: #ffffff !important;
    border-radius: 0px !important;
}
.nav-pills > li > a:hover {
    background-color: #E8B059 !important;
    color: #ffffff !important;
    border-radius: 0px !important;
}
.nav-link {
    color: white  !important;
    background-color: #7bbcb5 !important;
    border-radius: 0px !important;
}
.btn-dark {
    background-color: #E8B059 !important;
    border-color: #E8B059 !important;
}
.btn-dark:hover {
    background-color: #d6a252 !important;
    border-color: #d6a252 !important;
}
.btn-info {
    background-color: #D7753C !important;
    border-color: #D7753C !important;
}
.btn-info:hover {
    background-color: #bf6d3a !important;
    border-color: #bf6d3a !important;
}
.btn-warning {
    background-color: #ffd250 !important;
    border-color: #ffd250 !important;
}
.btn-warning:hover {
    background-color: #d7b143 !important;
    border-color: #d7b143 !important;
}

.btn-primary {
    background-color: #E8B059 !important;
    border-color: #E8B059 !important;
}

.btn-primary:hover {
    background-color: #c8984f !important;
    border-color: #c8984f !important;
}

.btn-outline-secondary {
    background-color: white !important;
}

.dataTables_paginate {
    padding-top: 10px;
    float: left !important;
    text-align: left !important;
}

.page-link{
    background-color: white !important;
    color: #B95933 !important;
    border-color: #B95933 !important;
}
.page-link:hover{
    color: white !important;
    background-color: #D7753C !important;
}
.page-item.active .page-link{
    color: white !important;
    background-color: #B95933 !important;
    border-color: #B95933 !important;
}
.page-item.disabled .page-link{
    color: #999999 !important;
}
.landing-button{
    float: right;
    margin-bottom: 15px;
    margin-top: 10px
}

thead {
    border-radius: 25px;/*arreglar esto*/
}

th, td {
    text-align: center;
    vertical-align: middle;
}
td:not(.mailcito){
    text-transform: capitalize;
}


.card-body{
    font-size: small;
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.buscador-btn{
    color: #B95933 !important;
    border-color: #B95933 !important;
}
.buscador-btn:hover{
    color: white !important;
    background-color: #B95933 !important;
    border-color: #B95933 !important;
}
.buscador-in{
    border-color: #B95933 !important;
}

.btn-secondary{
    background-color: #B95933 !important;
    border-color: #B95933 !important;
}


/*colores cei:
verde: #79BCB5
marron: #B95933
naranjo: #D7753C
amarillo: #E8B059
 */