{% extends 'adminTabs/BaseAdminTab.html' %}

{% block modalID %}ArticleModal{% endblock %}
{% block modalButton %}Crear nuevo artículo{% endblock %}
{% block buscadorPlace %}Busca un artículo{% endblock %}
{% block modalID2 %}ArticleModal{% endblock %} <!-- debe ser igual a modalID -->
{% block modaTitle %}Nuevo artículo{% endblock %}

{% block modalFormBody %}
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="ArticleName">Nombre</label>
            <input type="text" class="form-control" id="ArticleName" placeholder="Nombre artículo" required>
            <div class="invalid-feedback">
                Nombre inválido
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="ArticleTags">Tags</label>
            <input type="text" class="form-control" id="ArticleTags" required>
            <div class="invalid-feedback">
                Capacidad inválida
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="ArticleStateInput">Estado</label>
            <select class="custom-select" required>
                <option value="" selected disabled hidden >Elegir estado</option>
                {% for opcion,valor in estados_articulo %}
                    <option value="{{ opcion }}">{{ opcion }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Campo obligatorio
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="ArticlePhoto">Fotografía</label>
            <input type="file" class="form-control form-control-sm" id="ArticlePhoto"  required>
            <div class="invalid-feedback">
                Ningún archivo seleccionado
            </div>
        </div>
    </div>


    <div class="form-row">
        <div class="col" style="margin-bottom: 16px">
            <label for="ArticleDesc">Descripción</label>
            <input type="text" class="form-control" id="ArticleDesc" placeholder="Agrega una descripción del espacio" required>
            <div class="invalid-feedback">
                Texto inválido
            </div>
        </div>
    </div>
{% endblock %}

{% block modalSaveButton %}<button type="submit" class="btn btn-info">Guardar</button>{% endblock %}

{% block columnasTabla %}
    <th scope="col">Nombre</th>
    <th scope="col">Estado
        <select id="filtro_estado_articulos">
            <option value="articulos">---</option>
            {% for estado,valor in estados_articulo %}
                <option value="{{ valor }}">{{ valor }}</option>
            {% endfor %}
        </select>
    </th>
{% endblock %}

{% block cuerpoTabla %}
    {% for arti in articulos %}
        <tr class="{{ arti.estado }} articulos">
            <th scope="row"> <input name="filas_articulos" type="checkbox" value="{{ arti.pk }}">  </th>
            <td> {{ arti.nombre }} </td>
            <td> {{ arti.estado }}</td>
            <td>
                <form action={% url 'landingAdmin' %} method="post" >
                    {% csrf_token %}
                    <input name="identificador" value="{{ arti.pk }}" type="hidden">
                    <button type="submit" class="btn btn-dark" formmethod="post">Modificar</button>
                </form>
            </td>
            <td>
                <form action={% url 'borrarArticulo' %} method="post" >
                    {% csrf_token %}
                    <input name="identificador" value="{{ arti.pk }}" type="hidden">
                    <button type="submit" class="btn btn-info" formmethod="post">Eliminar</button>
                </form>
            </td>


        </tr>
    {% endfor %}
{% endblock %}

{% block botonesCambioEstado %}
    <button type="button" class="btn btn-success" style="float: right;  margin-bottom: 15px">Artículo disponible</button>

    <button type="button" class="btn btn-warning" style="float: right; margin-right: 12px; margin-bottom: 15px">Artículo en reparación</button>

    <button type="button" class="btn btn-danger" style="float: right; margin-right: 12px; margin-bottom: 15px">Artículo perdido</button>
{% endblock %}