{% extends 'adminTabs/BaseAdminTab.html' %}

<!-- identificador del modal, para activarlo-->
{% block modalID %}PrestamoModal{% endblock %}

<!-- texto del boton que activará el modal-->
{% block modalButton %}Crear nuevo préstamo{% endblock %}

<!-- placeholder del buscador-->
{% block buscadorPlace %}Busca un préstamo{% endblock %}

<!-- id del modal, debe ser igual a modalID -->
{% block modalID2 %}PrestamoModal{% endblock %}

<!-- titulo del modal -->
{% block modaTitle %}Nuevo préstamo{% endblock %}

<!-- formulario dentro del modal -->
{% block modalFormBody %}
    <div class="form-row">
        <div class="col" style="margin-bottom: 16px">
            <label for="UserPrestamo">Usuario</label>
            <select class="custom-select form-control" required>
                <option value="" selected disabled hidden >Elegir un usuario</option>
                {% for user in usuarios %}
                    <option value="{{ user.id }}">{{ user }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Campo obligatorio
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="FechaInicioInput">Fecha de inicio de préstamo</label>
            <input type="datetime-local" class="form-control" id="FechaInicioInput" placeholder="Fecha de inicio" required>
            <div class="invalid-feedback">
                Fecha inválida
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="FechaFinInput">Fecha de fin de préstamo</label>
            <input type="datetime-local" class="form-control" id="FechaFinInput" placeholder="Fecha de fin" required>
            <div class="invalid-feedback">
                Fecha inválida
            </div>

        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="TipoObjetoInput">Tipo de objeto</label>
            <select class="custom-select" required>
                <option value="" selected disabled hidden >Elegir un tipo</option>
                {% for opcion,valor in estados_prestamo_tipo %}
                    <option value="{{ opcion }}">{{ opcion }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Campo obligatorio
            </div>

        </div>
        <div class="col-md-6 mb-3">
            <label for="IDobjeto">Identificador objeto</label>
            <input type="text" class="form-control" id="IDobjeto" placeholder="Objeto" required>
            <div class="invalid-feedback">
                Objeto inválido
            </div>

        </div>
    </div>
{% endblock %}

<!-- boton para crear elemento desde el modal, por ahora no tiene ninguna funcion asociada -->
{% block modalSaveButton %}
    <button type="submit" class="btn btn-info">Guardar</button>
{% endblock %}

<!-- columnas tabla de prestamos -->
{% block columnasTabla %}
    <th scope="col">Objeto</th>
    <th scope="col">Usuario</th>
    <th scope="col">Inicio prestamo</th>
    <th scope="col">Fin prestamo</th>
    <th scope="col">Estado
        <select id="filtro_estado_prestamos">
            <option value="prestamos">---</option>
            {% for estado,valor in estados_prestamo %}
                <option value="{{ valor }}">{{ valor }}</option>
            {% endfor %}
        </select>
    </th>
{% endblock %}

{% block cuerpoTabla %}
    {% for prest in prestamos %}
        <tr class="{{ prest.get_estado_prestamo_display }} prestamos">
            <th scope="row"> <input class="PrestCheckbox" name="filas_prestamos" type="checkbox" value="{{ prest.id }}"
                {% if prest.get_estado_prestamo_display == "Recibido" %} disabled
                {% elif prest.get_estado_prestamo_display == "Perdido" %} disabled
                {% endif %}></th>
            <td> {{ prest.content_object.nombre }}</td>
            <td> {{ prest.profile.user.first_name }} {{ prest.profile.user.last_name }}</td>
            <td> {{ prest.fh_ini_prestamo.day }} /
                {{ prest.fh_ini_prestamo.month }} /
                {{ prest.fh_ini_prestamo.year }} -
                {{ prest.fh_ini_prestamo.time }}</td>
            <td> {{ prest.fh_fin_prestamo.day }} /
                {{ prest.fh_fin_prestamo.month }} /
                {{ prest.fh_fin_prestamo.year }} -
                {{ prest.fh_fin_prestamo.time }}</td>
            <td> {{ prest.get_estado_prestamo_display }}</td>
            <td>
                <!-- por ahora este boton solo redirige a pagina con testo, deberia ir a la ficha del prestamo -->
                <form action={% url 'verPrestamo' %} method="post" >
                    {% csrf_token %}
                    <input name="identificador" value="{{ prest.id }}" type="hidden">
                    <button type="submit" class="btn btn-dark" formmethod="post">
                        Modificar
                    </button>
                </form>
            </td>
            <td>
                <form action={% url 'borrarPrestamo' %} method="post" >
                    {% csrf_token %}
                    <input name="identificador" value="{{ prest.id }}" type="hidden">
                    <button type="submit" class="btn btn-info" formmethod="post">
                        Eliminar
                    </button>
                </form>
            </td>


        </tr>
    {% endfor %}
{% endblock %}

<!-- botones cambio de estado, por ahora no tienen funcion relacionada -->
{% block botonesCambioEstado %}
    <button type="button" class="btn btn-success prest-button landing-button disabled" style="float: right">Recibido</button>

    <button type="button" class="btn btn-danger prest-button landing-button disabled" style="float: right; margin-right: 12px">Perdido</button>
{% endblock %}
