{% extends "base.html" %}


{% block content %}
    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link"  href="/"
                aria-selected="false">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/landingAdmin/?tab=usuarios"
                aria-selected="false">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/landingAdmin/?tab=reservas"
                aria-selected="false">Reservas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/landingAdmin/?tab=prestamos"
               aria-selected="false">Préstamos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/landingAdmin/?tab=articulos"
                aria-selected="false">Artículos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/landingAdmin/?tab=espacios"
                aria-selected="false">Espacios</a>
        </li>
    </ul>
    <div class="container">

{%  if articulo %}
        <div class="row">
            <div class="col-md-6">
                <h2>Ficha</h2>
                <form method="post" action="{% url 'update_articulo' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ articulo.id }}" name="id"/>
                    <table class="table">
                        <tr>
                            <td style="width: 30%">Nombre:</td>
                            <td style="width: 70%"><input type="text" size="32" value="{{ articulo.nombre }}" name="name" style="width: 100%"/></td>
                        </tr>
                        <tr>
                            <td>ID:</td>
                            <td>{{ articulo.id }}</td>
                        </tr>
                        <tr>
                            <td>Descripción:</td>
                            <td><textarea name='description' style="width: 100%">{{ articulo.descripcion }}</textarea></td>
                        </tr>
                        <tr>
                            <td>Foto:</td>
                            <td><div style="max-width: 400px;">
                            <div style="background-image: url('{{ articulo.image.url }}'); width: 100%;
                            padding-top: 80%; background-size: auto 100%; background-position: center center;
                            background-repeat: no-repeat;"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>Estado:</td>
                            <td><input type="radio" name="status" value="Disponible" {% if articulo.estado == 'Disponible' %}checked{% endif %}> Disponible<br>
                            <input type="radio" name="status" value="En préstamo" {% if articulo.estado == 'En préstamo' %}checked{% endif %}> En Préstamo<br>
                            <input type="radio" name="status" value="En reparación" {% if articulo.estado == 'En reparación' %}checked{% endif %}> En Reparación<br>
                            <input type="radio" name="status" value="Perdido" {% if articulo.estado == 'Perdido' %}checked{% endif %}> Perdido</td>
                        </tr>
                        <tr>
                            <td>Tags:</td>
                            <td><input type="text" size="32" value="{{ articulo.lista_tags }}" name="tags" style="width: 100%"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm"> Actualizar Datos</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col-sm">
            <h2>Últimas Reservas</h2>
            <div class="container">
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark thead-admin">
                            <tr>
                                <th scope="col">Desde</th>
                                <th scope="col">Hasta</th>
                            </tr>
                            </thead>
                            <tbody class="tbody-admin">
                            <!-- filas de la tabla-->
                            {% for res in reservas %}
                                <tr>
                                    <td>{{ res.fh_ini_reserva.day }} /
                                        {{ res.fh_ini_reserva.month }} /
                                        {{ res.fh_ini_reserva.year }} -
                                        {{ res.fh_ini_reserva.time }}</td>
                                    <td>{{ res.fh_fin_reserva.day }} /
                                        {{ res.fh_fin_reserva.month }} /
                                        {{ res.fh_fin_reserva.year }} -
                                        {{ res.fh_fin_reserva.time }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
            <br>
            </div>
        </div>


{% else %}
    <h2>No existe artículo con id {{ id }}</h2>
{% endif %}
    </div>
{% endblock content %}
{# END OF CONTENT #}
{% block scripts %}

<script>
    {# Check update and send alert #}
     if (window.location.search.substring(1).split("&")[0].split("=")[1] === "True"){
        alert('Articulo Actualizado!')
     }
</script>


{% endblock scripts %}
