<html>
{% load static %}
{% load staticfiles %}

<head>
    <title>Inventario CEI - Ficha</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


</head>
<body>
{%  if articulo %}

    Name: {{ articulo.name }} <br>
    ID: {{ articulo.id }} <br>
    Photo: <img src="{{ articulo.photo.url }}"> <br>
    Text: {{ articulo.text }} <br>
    Estado: {{ articulo.status }} <br>
    Status: {% if articulo.status == Disponible %} <span class="label label-success">Disponible</span> {% endif %}{% if articulo.status == Prestamo %} <span class="label label-warning">En Préstamo</span> {% endif %}{% if articulo.status == Reparacion %} <span class="label label-warning">En Reparación</span> {% endif %}{% if articulo.status == Perdido %} <span class="label label-danger">Perdido</span> {% endif %} <br>
    Tags: {{ articulo.tags }} <br>
    <span class="label label-default">Disponible</span>


{% else %}
    <h2>No item with id = {{ id }}</h2>

{% endif %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>



</html>
