{% extends "base.html" %}


{% block content %}
    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="pills-inicio-tab" data-toggle="pill" href="#inicio"
               role="tab" aria-controls="pills-inicio" aria-selected="false">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-usuarios-tab" data-toggle="pill" href="#usuarios"
               role="tab" aria-controls="pills-usuarios" aria-selected="false">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-reservas-tab" data-toggle="pill" href="#reservas"
               role="tab" aria-controls="pills-reservas" aria-selected="false">Reservas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-prestamos-tab" data-toggle="pill" href="#prestamos"
               role="tab" aria-controls="pills-prestamos" aria-selected="false">Préstamos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-articulos-tab" data-toggle="pill" href="#articulos"
               role="tab" aria-controls="pills-articulos" aria-selected="false">Artículos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-espacios-tab" data-toggle="pill" href="#espacios"
               role="tab" aria-controls="pills-espacios" aria-selected="false">Espacios</a>
        </li>
    </ul>
    <div class="container">

{%  if articulo %}
        <div class="row">
            <div class="col-md-6">
                <h2>Ficha</h2>
                <form method="post" action="{% url 'update_articulo' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ articulo.id }}" name="id"/>
                    <table class="table">
                        <tr>
                            <td style="width: 30%">Nombre:</td>
                            <td style="width: 70%"><input type="text" size="32" value="{{ articulo.nombre }}" name="name" style="width: 100%"/></td>
                        </tr>
                        <tr>
                            <td>ID:</td>
                            <td>{{ articulo.id }}</td>
                        </tr>
                        <tr>
                            <td>Descripción:</td>
                            <td><textarea name='description' style="width: 100%">{{ articulo.descripcion }}</textarea></td>
                        </tr>
                        <tr>
                            <td>Foto:</td>
                            <td><div style="max-width: 400px;">
                            <div style="background-image: url('{{ articulo.image.url }}'); width: 100%;
                            padding-top: 80%; background-size: auto 100%; background-position: center center;
                            background-repeat: no-repeat;"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>Estado:</td>
                            <td><input type="radio" name="status" value="Disponible" {% if articulo.estado == 'Disponible' %}checked{% endif %}> Disponible<br>
                            <input type="radio" name="status" value="En préstamo" {% if articulo.estado == 'En préstamo' %}checked{% endif %}> En Préstamo<br>
                            <input type="radio" name="status" value="En reparación" {% if articulo.estado == 'En reparación' %}checked{% endif %}> En Reparación<br>
                            <input type="radio" name="status" value="Perdido" {% if articulo.estado == 'Perdido' %}checked{% endif %}> Perdido</td>
                        </tr>
                        <tr>
                            <td>Tags:</td>
                            <td><input type="text" size="32" value="{{ articulo.lista_tags }}" name="tags" style="width: 100%"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Actualizar Ficha"></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col-sm">
            <h2>Últimas Reservas</h2>
            <div style="height:200px;overflow-y:scroll; width: 100%; border: 2px black solid; border-radius: 5px">
            <ul>
                {% for res in reservas %}
                <li> Desde {{ res.fh_ini_reserva }} hasta {{ res.fh_fin_reserva }}</li>
                {% endfor %}
            </ul>
            </div>
            <br>
            </div>
        </div>



{% else %}
    <h2>No existe artículo con id {{ id }}</h2>
{% endif %}
    </div>
{% endblock content %}
{# END OF CONTENT #}
{% block scripts %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script>
    {# Check update and send alert #}
    if (window.location.search.substring(1).split("&")[0].split("=")[1] === "True"){
        alert('Articulo Actualizado!')
    }
</script>
{% endblock scripts %}
