{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}

    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active"  href="#"
               aria-selected="false">Reservar Artículo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/calendar"
               aria-selected="false">Reservar Espacio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/profile"
               aria-selected="false">Mi Perfil</a>
        </li>
    </ul>


    <div class="row" style="margin-left: 5%; margin-right: 5%; margin-top: 3%;">
        <div class="col-sm">
            <form action="{% url 'buscar' %}" method="post">
            {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control buscador-in" name="elemento" id="elemento">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary buscador-btn">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="float: right; margin-right: 6%">
        <a href="{% url 'busquedaAvanzada'%}">
            <p style="color:black;font-size:15px;">Busqueda Avanzada</p>
        </a>
    </div>

    <div class="row" style="margin-left: 5%; margin-right: 5%; margin-top: 3%">
        <div class="card-deck">
            {% for articulo in lista %}
                <div class="card" style="max-width: 202px;" onclick="location.href='/ficha/{{articulo.id}}';" >

                    <!-- Heading -->
                    <div class="card-body">
                    <h4 class="card-title">{{articulo.nombre}}</h4>
                    {% if articulo.estado == "Disponible" %}
                            <h6 class="card-subtitle text-muted"><span class="badge badge-success">Disponible</span></h6>
                        {% elif articulo.estado == "En préstamo"%}
                            <h6 class="card-subtitle text-muted"><span class="badge badge-primary">En Prestamo</span></h6>
                        {% elif articulo.estado == "En reparación"%}
                            <h6 class="card-subtitle text-muted"><span class="badge badge-warning">En Reparación</span></h6>
                        {% else %}
                            <h6 class="card-subtitle text-muted"><span class="badge badge-danger">Perdido</span></h6>
                        {% endif %}

                    </div>

                    <!-- Image -->
                    <img class="card-img-top" src={{articulo.image.url}}>

                </div>
            {% endfor %}
        </div>
    </div>



{% endblock content %}

{# END OF CONTENT #}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/inventarioCEI.css' %}">

{% endblock scripts %}
