{% extends "base.html" %}
{% load static %}
{% load staticfiles %}




{% block content %}

    <ul class="ul1" style="margin-top: 2%">
        <li>
            <button type="button" class="btn btn-success user-button disabled" style="margin-bottom: 15px; padding-left: 20px; padding-right: 20px">Artículos</button>
        </li>
        <li>
            <form action="{% url 'goToEspacios' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger user-button" style="margin-right: 12px; margin-bottom: 15px; padding-left: 20px; padding-right: 20px" >Espacios</button>
            </form>
        </li>
    </ul>

    <div class="col-sm">
        <form action="{% url 'buscar' %}" method="post">
        {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" class="form-control buscador-in" name="elemento" id="elemento">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary buscador-btn">Buscar</button>
                </div>
            </div>
        </form>
    </div>

    <div style="float: right; margin-right: 13px">
        <a href="{% url 'busquedaAvanzada'%}">
            <p style="color:black;font-size:15px;"> <ul>Busqueda Avanzada</ul></p>
        </a>
    </div>

    <div class="card-deck">
    {% for articulo in lista %}
        <div class="card" style="max-width: 202px;" onclick="location.href='/ficha/{{articulo.id}}';" >

            <!-- Heading -->
            <div class="card-body">
            <h4 class="card-title">{{articulo.nombre}}</h4>
            {% if articulo.estado == "Disponible" %}
                    <h6 class="card-subtitle text-muted"><span class="badge badge-success">Disponible</span></h6>
                {% elif articulo.estado == "En préstamo"%}
                    <h6 class="card-subtitle text-muted"><span class="badge badge-primary">En Prestamo</span></h6>
                {% elif articulo.estado == "En reparación"%}
                    <h6 class="card-subtitle text-muted"><span class="badge badge-warning">En Reparación</span></h6>
                {% else %}
                    <h6 class="card-subtitle text-muted"><span class="badge badge-danger">Perdido</span></h6>
                {% endif %}

            </div>

            <!-- Image -->
            <img class="card-img-top" src={{articulo.image.url}}>

        </div>


    {% endfor %}
    </div>

{% endblock content %}

{# END OF CONTENT #}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/inventarioCEI.css' %}">

{% endblock scripts %}
