{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="{% static 'css/inventarioCEI.css' %}">
    <!--<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>-->
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>busquedaAvanzada</title>
</head>
<body>
    <ul class="ul1">
        <li>
            <button class="activeButton">Articulos</button>
        </li>
        <li>
            <form action="{% url 'goToEspacios' %}" method="post">
                    {% csrf_token %}
                    <button class="unactiveButton">Espacios</button>
            </form>
        </li>
    </ul>

    <div class="divBusqAv">
        <form action="{% url 'busquedaAvanzada' %}" align="middle" method="post">
        {% csrf_token %}
            <input type="text" name="elemento" id="elemento" size="150"/>
            <input type="submit" value="Buscar"/>
            <br><br>
            <select name="estado">
                <option value="Disponible" selected>Disponible</option>
                <option value="En préstamo">En préstamo</option>
                <option value="En reparación">En reparación</option>
                <option value="Perdido">Perdido</option>
              </select>
            <label for="fechaInicioBusq">Fecha Inicio Prestamo </label>
            <input type="datetime-local" name="fechaInicioBusq" class="form-control" id="fechaInicioBusq" required>

            <label for="fechaFinBusq">Fecha Fin Prestamo </label>
            <input type="datetime-local" name="fechaFinBusq" class="form-control" id="fechaFinBusq" required>

            <!--<div class="col-md-6 mb-3">
            <label for="FechaInicioInputReserv">Fecha de inicio de reserva</label>
            <input type="datetime-local" class="form-control" id="FechaInicioInputReserv" placeholder="Fecha de inicio" required>
            <div class="invalid-feedback">
                Fecha inválida
            </div>-->

        </form>

        <div class="divBA">
            <a href="{% url 'buscar'%}">
                <p style="color:black;font-size:10px;">Busqueda Simple</p>
            </a>
        </div>

    </div>



    <p>{{fecha}}</p>



    <div class="flex-container">
    {% for articulo in lista %}
        <div class="card">
            <a href="https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg">
            <img src={{articulo.URLfoto}} style="width:100%;height:104px;">
                <h4><b>{{articulo.nombre}}</b></h4>
                {% if articulo.estado == "disponible" %}
                    <div class="circlegreen"></div>
                {% elif articulo.estado == "prestamo"%}
                    <div class="circlered"></div>
                {% elif articulo.estado == "reparacion"%}
                    <div class="circleblue"></div>
                {% else %} <!--perdido-->
                    <div class="circleblack"></div>
                {% endif %}
            </a>
        </div>
    {% endfor %}
    </div>

</body>
</html>