{% extends "base.html" %}
{% load static %}
{% load staticfiles %}




{% block content %}

    <ul class="ul1" style="margin-top: 2%; left: 50%">
        <li>
            <button type="button" class="btn btn-success user-button disabled" style="margin-bottom: 15px; padding-left: 20px; padding-right: 20px">Artículos</button>
        </li>
        <li>
            <form action="{% url 'goToEspacios' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger user-button" style="margin-right: 12px; margin-bottom: 15px; padding-left: 20px; padding-right: 20px" >Espacios</button>
            </form>
        </li>
    </ul>

    <div class="divBusqAv">

        <form action="{% url 'busquedaAvanzada' %}" align="middle" method="post">
        {% csrf_token %}
            <div class="col-sm">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="elemento" id="elemento">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">Buscar</button>
                    </div>
                </div>
            </div>

            <div class="col-sm">

                <div class="form-group form-inline">
                    <label for="estado" style="margin-right: 5px">Estado</label>
                    <select name="estado" style="margin-right: 10px">
                        <option value="Todos" selected>Todos</option>
                        <option value="Disponible">Disponible</option>
                        <option value="En préstamo">En préstamo</option>
                        <option value="En reparación">En reparación</option>
                        <option value="Perdido">Perdido</option>
                      </select>

                    <label for="fechaInicioBusq" style="margin-right: 5px">Fecha Inicio Prestamo </label>
                    <input type="datetime-local" name="fechaInicioBusq" class="form-control" id="fechaInicioBusq" value="None" style="margin-right: 10px">

                    <label for="fechaFinBusq" style="margin-right: 5px">Fecha Fin Prestamo </label>
                    <input type="datetime-local" name="fechaFinBusq" class="form-control" id="fechaFinBusq" value="None">
                </div>



                <!--<div class="input-group mb-3">

                    <select name="estado">
                        <option value="Todos" selected>Todos</option>
                        <option value="Disponible">Disponible</option>
                        <option value="En préstamo">En préstamo</option>
                        <option value="En reparación">En reparación</option>
                        <option value="Perdido">Perdido</option>
                      </select>
                    <label for="fechaInicioBusq">Fecha Inicio Prestamo </label>
                    <input type="datetime-local" name="fechaInicioBusq" class="form-control" id="fechaInicioBusq" value="None">

                    <label for="fechaFinBusq">Fecha Fin Prestamo </label>
                    <input type="datetime-local" name="fechaFinBusq" class="form-control" id="fechaFinBusq" value="None">
                </div>-->
            </div>
        </form>





            <!--
            <input type="text" name="elemento" id="elemento" size="150"/>
            <input type="submit" value="Buscar"/>
            <br><br>
            <label for="id_elemento">ID</label>
            <input type="number" name="id_elemento" id="id_elemento" size="150" min=0>
            <label for="estado">Estado</label>
            <select name="estado">
                <option value="Todos" selected>Todos</option>
                <option value="Disponible">Disponible</option>
                <option value="En préstamo">En préstamo</option>
                <option value="En reparación">En reparación</option>
                <option value="Perdido">Perdido</option>
              </select>
            <label for="fechaInicioBusq">Fecha Inicio Prestamo </label>
            <input type="datetime-local" name="fechaInicioBusq" class="form-control" id="fechaInicioBusq" value="None">

            <label for="fechaFinBusq">Fecha Fin Prestamo </label>
            <input type="datetime-local" name="fechaFinBusq" class="form-control" id="fechaFinBusq" value="None">-->



        <!--<div class="divBA">
            <a href="{% url 'buscar'%}">
                <p style="color:black;font-size:10px;">Busqueda Simple</p>
            </a>
        </div>-->

    </div>

    <div class="card-deck" style="margin: 5%">
        {% for articulo in lista %}
            <div class="card" style="max-width: 202px;" onclick="location.href='/ficha/{{articulo.id}}';" >

            <!-- Heading -->
            <div class="card-body">
            <h4 class="card-title">{{articulo.nombre}}</h4>
            {% if articulo.estado == "Disponible" %}
                    <h6 class="card-subtitle text-muted"><span class="badge badge-success">Disponible</span></h6>
                {% elif articulo.estado == "En préstamo"%}
                    <h6 class="card-subtitle text-muted"><span class="badge badge-primary">En Prestamo</span></h6>
                {% elif articulo.estado == "En reparación"%}
                    <h6 class="card-subtitle text-muted"><span class="badge badge-warning">En Reparación</span></h6>
                {% else %}
                    <h6 class="card-subtitle text-muted"><span class="badge badge-danger">Perdido</span></h6>
                {% endif %}

            </div>

            <!-- Image -->
            <img class="card-img-top" src={{articulo.image.url}}>

        </div>


    {% endfor %}
    </div>

{% endblock content %}

{# END OF CONTENT #}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/inventarioCEI.css' %}">

{% endblock scripts %}
