{% extends "base.html" %}
{% block infoUsuario %}
{% endblock %}

{% block content %}
    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-inicio-tab" data-toggle="pill"
               href="#pills-inicio" role="tab" aria-controls="pills-inicio" aria-selected="true">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-usuarios-tab" data-toggle="pill" href="#pills-usuarios"
               role="tab" aria-controls="pills-usuarios" aria-selected="false">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-reservas-tab" data-toggle="pill" href="#pills-reservas"
               role="tab" aria-controls="pills-reservas" aria-selected="false">Reservas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-prestamos-tab" data-toggle="pill" href="#pills-prestamos"
               role="tab" aria-controls="pills-prestamos" aria-selected="false">Préstamos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-articulos-tab" data-toggle="pill" href="#pills-articulos"
               role="tab" aria-controls="pills-articulos" aria-selected="false">Artículos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-espacios-tab" data-toggle="pill" href="#pills-espacios"
               role="tab" aria-controls="pills-espacios" aria-selected="false">Espacios</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">

    <!-- aqui empieza tab de inicio /calendario -->
        <div class="tab-pane fade show active" id="pills-inicio" role="tabpanel" aria-labelledby="pills-inicio-tab">
            ...
        </div>

    <!-- aqui empieza tab de usuarios-->
        <div class="tab-pane fade" id="pills-usuarios" role="tabpanel" aria-labelledby="pills-usuarios-tab">
            {% include 'adminTabs/UserTabFromAdmin.html' %}
        </div>

    <!-- aqui empieza tab de reservas-->
        <div class="tab-pane fade" id="pills-reservas" role="tabpanel" aria-labelledby="pills-reservas-tab">
{#            {% include 'adminTabs/ReservaTabFromAdmin.html' %}#}

<!-- top buttons-->
            <div class="container">
                <!-- Button trigger modal -->
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#{% block modalID %}{% endblock %}">
                            Crear nueva reserva
                        </button>
                    </div>
                    <div class="col"></div>
                    <div class="col-sm">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Busca una reserva">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Modal -->
                <div class="modal fade" id="{% block modalID2 %}{% endblock %}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form class="needs-validation" novalidate>
                                <div class="modal-header">
                                    <h5 class="modal-title">{% block modaTitle %}{% endblock %}</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        {% block modalFormBody %}{% endblock %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-info">Guardar</button>
                                </div>
                                </form>
                        </div>
                    </div>
                </div>

            </div>

        <!-- tabla de reservas -->
            <div class="container">
                <table class="table" >
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Articulo</th>
                            <th scope="col">Fecha inicio</th>
                            <th scope="col">Fecha fin</th>
                            <th scope="col">Estado
                                <select id="filtro_estado_reservas">
                                    <option value="reservas">---</option>
                                    {% for estado,valor in estados_reservas %}
                                        <option value="{{ valor }}">{{ valor }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Modificar</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reserv in reservas %}
                            <tr class="{{ reserv.estado_reserva }} reservas">
                                <th scope="row"> <input class="reservaCheckbox" type="checkbox" value="{{ reserv.id }}">  </th>
                                <td>{{ reserv.profile.user.username }}</td>
                                <td>{{ reserv.content_object.nombre }}</td>
                                <td>{{ reserv.fh_ini_reserva }}</td>
                                <td>{{ reserv.fh_fin_reserva }}</td>
                                <td>{{ reserv.estado_reserva }}</td>
                                <td >{{ reserv.content_type }}</td>
                                <td>{{ reserv.content_object.nombre }}</td>
                                <td>{{ reserv.content_object.nombre }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

        <!-- botones cambio de estado-->
            <div class="container">
                <button type="button" class="btn btn-success" onclick="aceptarReservas()"
                        value="aceptar" style="float: right">Aceptar reservas</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" onclick="rechazarReservas()"
                        value="rechazar" style="float: right; margin-right: 12px">Rechazar reservas</button>
            </div>
        </div>

    <!-- aqui empieza tab de prestamos-->
        <div class="tab-pane fade" id="pills-prestamos" role="tabpanel" aria-labelledby="pills-prestamos-tab">

        <!-- top buttons-->
            <div class="container">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
                  Crear nuevo préstamo
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form class="needs-validation" novalidate>
                                <div class="modal-header">
                                    <h5 class="modal-title">Nuevo préstamo</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                    <!-- bloque cuerpo -->
                                        <div class="form-row">
                                            <div class="col" style="margin-bottom: 16px">
                                                <label for="RutInput">Rut usuario</label>
                                                <input type="text" class="form-control" id="RutInput" placeholder="Rut usuario" required>
                                                <div class="invalid-feedback">
                                                    Rut inválido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="FechaInicioInput">Fecha de inicio de préstamo</label>
                                                <input type="datetime-local" class="form-control" id="FechaInicioInput" placeholder="Fecha de inicio" required>
                                                <div class="invalid-feedback">
                                                    Fecha inválida
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="FechaFinInput">Fecha de fin de préstamo</label>
                                                <input type="datetime-local" class="form-control" id="FechaFinInput" placeholder="Fecha de fin" required>
                                                <div class="invalid-feedback">
                                                    Fecha inválida
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="TipoObjetoInput">Tipo de objeto</label>
                                                <select class="custom-select">
                                                    {% for opcion,valor in estados_prestamo_tipo %}
                                                        <option value="{{ opcion }}">{{ opcion }}</option>
                                                    {% endfor %}

                                                </select>
                                                <div class="invalid-feedback">
                                                    Tipo inválido
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="IDobjeto">Identificador objeto</label>
                                                <input type="text" class="form-control" id="IDobjeto" placeholder="Objeto" required>
                                                <div class="invalid-feedback">
                                                    Objeto inválido
                                                </div>

                                            </div>
                                        </div>
                                    <!-- termina bloque cuerpo -->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-info">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        <!-- tabla de prestamos -->
            <div class="container">
                <table class="table" style="margin-top: 15px;">
                    <thead class="thead-dark">
                        <tr>
                            <!-- atributos tabla -->
                            <th scope="col">#</th>
                            <th scope="col">Articulo</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Fecha prestamo</th>
                            <th scope="col">Fecha fin prestamo</th>
                            <th scope="col">Estado
                                <select id="filtro_estado">
                                    <option value="todos">---</option>
                                    {% for estado,valor in estados_prestamo %}
                                        <option value="{{ valor }}">{{ valor }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th scope="col">Modificar</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- filas de la tabla -->
                        {% for prest in prestamos %}
                            <tr class="{{ prest.estado_prestamo }} todos">
                                <th scope="row"> <input name="filas_prestamos" type="checkbox" value="{{ prest.id }}">  </th>
                                <td> {{ prest.tipo_objeto }}</td>
                                <td> {{ prest.rut }}</td>
                                <td> {{ prest.fh_ini_prestamo }}</td>
                                <td> {{ prest.fh_fin_prestamo }}</td>
                                <td> {{ prest.estado_prestamo }}</td>
                                <td>
                                    <form action={% url 'inventario:verPrestamo' %} method="post" >
                                        {% csrf_token %}
                                        <input name="identificador" value="{{ prest.id }}" type="hidden">
                                        <button type="submit" class="btn btn-dark" formmethod="post">
                                            Modificar
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form action={% url 'inventario:borrarPrestamo' %} method="post" >
                                        {% csrf_token %}
                                        <input name="identificador" value="{{ prest.id }}" type="hidden">
                                        <button type="submit" class="btn btn-info" formmethod="post">
                                            Eliminar
                                        </button>
                                    </form>
                                </td>


                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

        <!-- botones cambio de estado-->
            <div class="container">
                <button type="button" class="btn btn-success" style="float: right">Recibido</button>
                <button type="button" class="btn btn-danger" style="float: right">Perdido</button>
            </div>
        </div>

    <!-- aqui empieza tab de articulos-->
        <div class="tab-pane fade" id="pills-articulos" role="tabpanel" aria-labelledby="pills-articulos-tab">
            {% include 'adminTabs/ArticuloTabFromAdmin.html' %}
        </div>

    <!-- aqui empieza tab de espacios-->
        <div class="tab-pane fade" id="pills-espacios" role="tabpanel" aria-labelledby="pills-espacios-tab">
            {% include 'adminTabs/EspacioTabFromAdmin.html' %}
        </div>


{% endblock content %}
{% block scripts %}
    <script>
        $("#filtro_estado").change(function(){
            $(".todos").hide();
            $("."+$(this).val()).show();
        })
    </script>
    <script>
        $("#filtro_estado_reservas").change(function(){
            $(".reservas").hide();
            $("."+$(this).val()).show();
        })
    </script>
    <script>
        $("#filtro_estado_usuario").change(function(){
            $(".usuarios").hide();
            $("."+$(this).val()).show();
        })
    </script>
    <script>
        function aceptarReservas(){
            var checkboxes = $('.reservaCheckbox:checked');
            var reservasId = "";
            for (var i = 0; i < checkboxes.length; i++) {
                var value = checkboxes[i].value;
                if (reservasId == ""){
                    reservasId = value;
                }
                else{
                    reservasId = reservasId.concat(",", value);
                }
            }
            document.location="/AceptarReservas/"+reservasId;
        }

        function rechazarReservas(){
            var checkboxes = $('.reservaCheckbox:checked');
            var reservasId = "";
            for (var i = 0; i < checkboxes.length; i++) {
                var value = checkboxes[i].value;
                if (reservasId == ""){
                    reservasId = value;
                }
                else{
                    reservasId = reservasId.concat(",", value);
                }
            }
            document.location="/RechazarReservas/"+reservasId;
        }
    </script>
    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                    }, false);
            });
            }, false);
    })();
    </script>
{% endblock scripts %}