{% extends "base.html" %}

{% block content %}
    <div class="container">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Rut</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha termino</th>
              <th scope="col">Estado</th>
              <th scope="col">Tipo de objeto</th>
            </tr>
          </thead>
          <tbody>
            {% for reserv in reservas %}
                <tr>
                  <th scope="row"> <input name="fila" type="checkbox" value="{{ reserv.id }}">  </th>
                  <td>{{ reserv.rut }}</td>
                  <td>{{ reserv.fh_ini_reserva }}</td>
                  <td>{{ reserv.fh_fin_reserva }}</td>
                    <td>{{ reserv.estado_reserva }}</td>
                    <td>{{ reserv.tipo_objeto }}</td>
                </tr>
            {% endfor %}

          </tbody>
        </table>
    </div>
<script>

    checkboxes = document.getElementsByTagName("fila");

    for (var i = 0; i < checkboxes.length; i++) {
        var checkbox = checkboxes[i];
        checkbox.onclick = function() {
            var currentRow = this.parentNode.parentNode;
            var secondColumn = currentRow.getElementsByTagName("td")[1];
        };
    }

</script>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Articulo</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Fecha prestamo</th>
                    <th scope="col">Fecha fin prestamo</th>
                    <th scope="col">Estado
                        <select id="filtro_estado">
                            <option value="todos">---</option>
                            <option value="vigente">Vigentes</option>
                            <option value="caducado">Caducados</option>
                            <option value="perdido">Perdidos</option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for prest in prestamos %}
                    <tr class="{{ prest.estado_prestamo }} todos">
                        <th scope="row"> <input name="cosas" type="checkbox" value="{{ prest.id }}">  </th>
                        <td> {{ prest.tipo_objeto }}</td>
                        <td> {{ prest.rut }}</td>
                        <td> {{ prest.fh_ini_prestamo }}</td>
                        <td> {{ prest.fh_fin_prestamo }}</td>
                        <td> {{ prest.estado_prestamo }}</td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $("#filtro_estado").change(function(){
            $(".todos").hide();
            $("."+$(this).val()).show();
        })
    </script>
{% endblock %}
