<div class="row">
    <div class="col-*-*">
            <div style="overflow-y:auto; height: 350px;">
                <table class="table table-bordered">
                    <tr class="table-primary">
                        <th>Nombre de elemento prestado</th>
                        <th>Estado</th>
                    </tr>
                    {% for r in prestamos %}
                        <tr>
                            <th style="cursor: pointer;" onclick="showData('{{r.content_object.descripcion}}',
                                    '{{r.content_object.image.url}}',
                                    '{{r.content_object.nombre}}',
                                    '{{r.fh_ini_prestamo}}',
                                    '{{r.fh_fin_prestamo}}')">
                            </th>
                            <th>
                                {{r.estado_prestamo}}
                            </th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
    <div class="col-*-*" style="width: 700px; height: 350px;">
         <div class=" container">
            <div class="row">
                <div class="col-*-*">
                    <div id="photo" class="container" style="text-align: center">

                    </div>
                </div>
                <div class="col-*-*" style="width: 400px">
                    <div id="description" class="container">
                        Click en un item para obtener la información.
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>