{% load static %}
{% load staticfiles %}

<div class="row">
    <div class="col-*-*">
        <form action="{% url 'deleteRes' %}" method="post">
            {% csrf_token %}
            <div style="overflow-y:auto; height: 350px;">

                <!-- Tabla con elementos reservados -->
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr class="table-primary">
                            <th>#</th>
                            <th>Nombre del elemento reservado</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    {% for r in reservas %}
                        <tr>
                            <!--Agrega checkbox solo a los pendientes-->
                            {% ifnotequal r.get_estado_reserva_display "Pendiente" %}
                                <th>
                                    <input type="checkbox" class="checkbox" name="element" value="{{r.id}}" disabled>
                                </th>
                                <!-- showData recibe datos y pasan por javascript -->
                                {% if r.tipo == 'A'%}
                                <th style="cursor: pointer;" onclick="showDataR('{{r.related.first.articulo.descripcion}}',
                                        '{{r.related.first.articulo.image.url}}',
                                        '{{r.fh_reserva}}',
                                        '{{r.fh_ini_reserva}}',
                                        '{{r.fh_fin_reserva}}')">
                                    {{r.related.first.articulo}} ({{r.related.all|length}})
                                </th>
                                {% else %}
                                <th style="cursor: pointer;" onclick="showDataR('{{r.related.first.descripcion}}',
                                        '{{r.related.first.image.url}}',
                                        '{{r.fh_reserva}}',
                                        '{{r.fh_ini_reserva}}',
                                        '{{r.fh_fin_reserva}}')">
                                    {{r.related.first.nombre}}
                                </th>
                                {% endif%}
                                <th>
                                    {{r.get_estado_reserva_display}}
                                </th>
                            {% else %}
                                <th>
                                    <input type="checkbox" class="checkbox" name="element" value="{{r.id}}">
                                </th>
                                {% if r.tipo == 'A'%}
                                <th style="cursor: pointer;" onclick="showDataR('{{r.related.first.articulo.descripcion}}',
                                        '{{r.related.first.articulo.image.url}}',
                                        '{{r.fh_reserva}}',
                                        '{{r.fh_ini_reserva}}',
                                        '{{r.fh_fin_reserva}}')">
                                    {{r.related.first.articulo}} ({{r.related.all|length}})
                                </th>
                                {% else %}
                                <th style="cursor: pointer;" onclick="showDataR('{{r.related.first.descripcion}}',
                                        '{{r.related.first.image.url}}',
                                        '{{r.fh_reserva}}',
                                        '{{r.fh_ini_reserva}}',
                                        '{{r.fh_fin_reserva}}')">
                                    {{r.related.first.nombre}}
                                </th>
                                {% endif%}
                                <th>
                                    {{r.get_estado_reserva_display}}
                                </th>
                            {% endifnotequal %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <input class="btn btn-primary btn-sm nav-link delete " name="delete_item" id="borrar" type="submit"
                   value="Borrar" disabled="disabled"/>
        </form>
    </div>

    <!-- Cards con informacion de los elementos -->
    <div class="col-*-*" style="width: 720px; height: 350px;">
         <div class=" container">
            <div class="row">

                <!--Foto y descripcion-->
                <div class="col-*-*">
                   <div class="card" style="width: 18rem; height: 23.4rem;">
                       <div style="max-width: 400px;">
                            <div id="fotoR" style="background-image: url('{% static 'img/Logo-Cei (bw).png' %}'); width: 100%;
                            padding-top: 80%; background-size: auto 100%; background-position: center center;
                            background-repeat: no-repeat;"></div>
                            </div>
                       <div class="card-body">
                        <p class="card-text" id="desc"></p>
                      </div>
                   </div>
                </div>

                <!-- Fechas -->
                <div class="col-*-*" style="width: 400px">
                    <div class="card" style="max-width: 18rem;height: 7.8rem;">
                      <div class="card-header nav-link">Fecha de reserva</div>
                      <div class="card-body">
                        <p class="card-text" id="fecha_reserva">-</p>
                      </div>
                    </div>
                    <div class="card" style="max-width: 18rem;height: 7.8rem;">
                      <div class="card-header nav-link">Inicio de la reserva</div>
                      <div class="card-body">
                        <p class="card-text" id="fecha_ini">-</p>
                      </div>
                    </div>
                    <div class="card" style="max-width: 18rem; height: 7.8rem;">
                      <div class="card-header nav-link">Fin de la reserva</div>
                      <div class="card-body">
                        <p class="card-text" id="fecha_fin">-</p>
                      </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
