<div class="row">
    <div class="col-*-*">
        <form action="{% url 'deleteRes' %}" method="post">
            {% csrf_token %}
            <div style="overflow-y:auto; height: 350px;">
                <table class="table table-bordered">
                    <tr class="table-primary">
                        <th>#</th>
                        <th>Nombre de elemento reservado</th>
                        <th>Estado</th>
                    </tr>
                    {% for r in reservas %}
                        <tr>
                            {% ifnotequal r.estado_reserva "Pendiente" %}
                                <th>
                                    <input type="checkbox" class="checkbox" name="element" value="{{r.id}}" disabled>
                                </th>
                                <th style="cursor: pointer;" onclick="showData('{{r.content_object.descripcion}}',
                                        '{{r.content_object.image.url}}',
                                        '{{r.content_object.nombre}}',
                                        '{{r.fh_ini_reserva}}',
                                        '{{r.fh_fin_reserva}}')">
                                    {{r.content_object.nombre}}
                                </th>
                                <th>
                                    {{r.estado_reserva}}
                                </th>
                            {% else %}
                                <th>
                                    <input type="checkbox" class="checkbox" name="element" value="{{r.id}}">
                                </th>
                                <th style="cursor: pointer;" onclick="showData('{{r.content_object.descripcion}}',
                                        '{{r.content_object.image.url}}',
                                        '{{r.content_object.nombre}}',
                                        '{{r.fh_ini_reserva}}',
                                        '{{r.fh_fin_reserva}}')">
                                    {{r.content_object.nombre}}
                                </th>
                                <th>
                                    {{r.estado_reserva}}
                                </th>
                            {% endifnotequal %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <input class="btn btn-primary btn-sm delete" name="delete_item" id="borrar" type="submit"
                   value="Borrar" disabled="disabled"/>
        </form>
    </div>
    <div class="col-*-*" style="width: 700px; height: 350px;">
         <div class=" container">
            <div class="row">
                <div class="col-*-*">
                    <div id="photo" class="container" style="text-align: center">

                    </div>
                </div>
                <div class="col-*-*" style="width: 400px">
                    <div id="description" class="container">
                        Click en un item para obtener la información.
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>