{% extends "base.html" %}
{% load static %}

{% block infoUsuario %}

{% endblock %}

{% block content %}

    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-selected="false">Reservar Espacio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-selected="false">Reservar Artículo</a>
        </li>
    </ul>

    <br>

    <div class="container">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-reservas-tab" data-toggle="pill" href="#pills-reservas"
               role="tab" aria-controls="pills-reservas" aria-selected="true">Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-prestamos-tab" data-toggle="pill" href="#pills-prestamos"
               role="tab" aria-controls="pills-prestamos" aria-selected="false">Prestamos</a>
          </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-reservas" role="tabpanel" aria-labelledby="pills-reservas-tab">
            {% include 'res_table.html' %}
          </div>
          <div class="tab-pane fade" id="pills-prestamos" role="tabpanel" aria-labelledby="pills-prestamos-tab">
            {% include 'pres_table.html' %}
          </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        function showData(text, fotoURL, fh_res, fh_ini, fh_fin){

            var f_res_box = document.getElementById("fecha_reserva");
            f_res_box.innerHTML = "";
            var f_res = document.createTextNode(fh_res);
            f_res_box.appendChild(f_res);

            var f_ini_box = document.getElementById("fecha_ini");
            f_ini_box.innerHTML = "";
            var f_ini = document.createTextNode(fh_ini);
            f_ini_box.appendChild(f_ini);

            var desc = document.getElementById("desc");
            desc.innerHTML = "";
            var desc_txt = document.createTextNode(text);
            desc.appendChild(desc_txt);

            var f_fin_box = document.getElementById("fecha_fin");
            f_fin_box.innerHTML = "";
            var f_fin = document.createTextNode(fh_fin);
            f_fin_box.appendChild(f_fin);

            var foto = document.getElementById("foto");
            foto.src = fotoURL;
        }
    </script>

    <script>
        $(function() {
            $(".checkbox").click(function(){
                $('.delete').prop('disabled',$('input.checkbox:checked').length == 0);
            });
        });
    </script>

{% endblock %}