{% extends 'BaseAdminTab.html' %}

{% block modalID %}UserModal{% endblock %}
{% block BotonCrear %}Crear nuevo usuario{% endblock %}
{% block modalID2 %}UserModal{% endblock %}
{% block modaTitle %}Nuevo usuario{% endblock %}
{% block modalFormBody %}{% endblock %}
{% block columnasTabla %}
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Rut</th>
    <th scope="col">Estado
        <select id="filtro_estado">
            <option value="todos">---</option>
            {% for estado,valor in estados_prestamo %}
                <option value="{{ valor }}">{{ valor }}</option>
            {% endfor %}
        </select>
    </th>
    <th scope="col">Modificar</th>
    <th scope="col">Eliminar</th>
{% endblock %}
{% block filasTabla %}{% endblock %}
{% block BotonCambioPos %}Habilitar{% endblock %}
{% block BotonCambioNeg %}Deshabilitar{% endblock %}