{% extends "base.html" %}
{% load static %}

{% block infoUsuario %}

{% endblock %}

{% block content %}

    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-selected="false">Reservar Espacio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-selected="false">Reservar Artículo</a>
        </li>
    </ul>

    <br>

    <div class="container">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-reservas-tab" data-toggle="pill" href="#pills-reservas"
               role="tab" aria-controls="pills-reservas" aria-selected="true">Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-prestamos-tab" data-toggle="pill" href="#pills-prestamos"
               role="tab" aria-controls="pills-prestamos" aria-selected="false">Prestamos</a>
          </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-reservas" role="tabpanel" aria-labelledby="pills-reservas-tab">
            {% include 'res_table.html' %}
          </div>
          <div class="tab-pane fade" id="pills-prestamos" role="tabpanel" aria-labelledby="pills-prestamos-tab">
            {% include 'pres_table.html' %}
          </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        function showData(text, fotoURL, name, fh_ini, fh_fin){
            var box = document.getElementById("photo");
            box.innerHTML = "";
            var box2 = document.getElementById("description");
            box2.innerHTML = "";

            var line = document.createElement("br");
            var photo = document.createElement("img");
            photo.src = fotoURL;
            photo.height = "200";
            photo.width = "250";

            box.appendChild(photo);
            box.appendChild(line);

            var n = document.createElement("p");
            var d = document.createElement("p");
            var fi = document.createElement("p");
            var ff = document.createElement("p");

            var description = document.createTextNode("Descripción: "+text);
            var nametxt = document.createTextNode(name);
            var fitxt = document.createTextNode("Inicio: "+fh_ini);
            var fftxt = document.createTextNode("Fin: "+fh_fin);

            n.appendChild(nametxt);
            d.appendChild(description);
            fi.appendChild(fitxt);
            ff.appendChild(fftxt);

            box.appendChild(fi);
            box.appendChild(ff);
            box2.appendChild(n);
            box2.appendChild(d);
        }
    </script>

    <script>
        $(function() {
            $(".checkbox").click(function(){
                $('.delete').prop('disabled',$('input.checkbox:checked').length == 0);
            });
        });
    </script>

{% endblock %}